<section id="securedWebapiDemo" class="view row">
    <div class="col-md-12">
        <h2>{{::vm.title}}</h2>
        <p>{{::vm.description}}</p>
        <ul class="list-unstyled">
            <li data-ng-repeat="kp in vm.keyPoints">
                <p>{{kp}}</p>
            </li>
        </ul>
        <button class="btn btn-primary" type="button" ng-click="vm.getValues()">Get values</button>
        <h3>Response</h3>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-body">
                {{vm.result}}
            </div>
        </div>
    </div>
</section>