<section class="row" sk-disable-when-busy>
    <div class="col-md-10 col-md-offset-1">
        <h2>{{::vm.title}}</h2>
        <div class="row">
            <div class="col-md-7">
                <sk-change-password ng-if="vm.manageInfo.hasLocalLogin"></sk-change-password>
                <sk-create-local-login ng-if="!vm.manageInfo.hasLocalLogin"></sk-create-local-login>
            </div>
            <div class="col-md-5">
                <ul class="list-unstyled">
                    <li><h4>Registered logins</h4></li>
                    <li ng-repeat="login in vm.userLogins | orderBy: 'loginProvider'">
                        <sk-user-login login="login" action="vm.removeLogin(login)"></sk-user-login>
                    </li>
                </ul>
                <ul class="list-unstyled">
                    <li><h4>Add another login</h4></li>
                    <li ng-repeat="provider in vm.loginProviders | usedLoginProviderFilter:vm.userLogins | orderBy: 'name'">
                        <sk-login-provider provider="provider" action="vm.addLogin(provider)"></sk-login-provider>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>