<section class="view">
    <h2>{{title}}</h2>        
    <form class="form" role="form" name="registrationForm" sk-disable-when-busy>
        <p>Create a new account.</p>
        <hr />
        <div class="form-group" ng-class="{'has-error': registrationForm.email.$error.unique}">
            <label for="email">email</label>
            <input type="email" name="email" class="form-control" ng-model="registration.email" sk-async-validators="{'unique': checkEmailAvailable}" required />
            <span class="help-block" ng-show="registrationForm.email.$error.required && registrationForm.$dirty">required</span>
            <span class="help-block" ng-show="registrationForm.email.$error.unique && registrationForm.$dirty">a user already exists with this email</span>
        </div>
        <div class="form-group" ng-class="{'has-error': registrationForm.registerUsername.$error.unique}">
            <label for="registerUsername">username</label>
            <input type="text" name="registerUsername" class="form-control" ng-model="registration.username" sk-async-validators="{'unique': checkUsernameAvailable}" />
            <span class="help-block" ng-show="registrationForm.registerUsername.$error.unique && registrationForm.$dirty">username already taken</span>
        </div>
        <div class="form-group">
            <label for="registerPassword">Password</label>
            <input type="password" id="registerPassword" class="form-control" ng-model="registration.password" required />            
        </div>
        <div class="form-group">
            <label for="registerConfirmPassword">Confirm password</label>
            <input type="password" id="registerConfirmPassword" class="form-control" ng-model="registration.confirmPassword" sk-matches="registration.password" required />
            <span class="help-block" ng-show="registrationForm.confirmPassword.$error.match && registrationForm.$dirty">passwords do not match</span>
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="registrationForm.$invalid && registrationForm.$dirty" ng-click="register()">Register</button>
        <p><a href="/signIn">Log in</a> if you already have a local account.</p>
    </form>        
</section>