<div id="skChangePassword">
    <h3>Change password</h3>
    <form class="form" role="form" name="passwordForm">
        <hr />
        <div class="form-group">
            <label for="password">password</label>
            <input type="password" name="password" class="form-control" ng-model="password" required/>
            <span class="help-block" ng-show="passwordForm.password.$error.required && passwordForm.$dirty">required</span>
        </div>
        <div class="form-group">
            <label for="newPassword">new password</label>
            <input type="password" name="newPassword" class="form-control" ng-model="newPassword" required />
            <span class="help-block" ng-show="passwordForm.newPassword.$error.required && passwordForm.$dirty">required</span>
        </div>
        <div class="form-group">
            <label for="newPasswordConfirm">confirm new password</label>
            <input type="password" name="newPasswordConfirm" class="form-control" ng-model="newPasswordConfirm" sk-matches="newPassword" required />
            <span class="help-block" ng-show="passwordForm.newPasswordConfirm.$error.required && passwordForm.$dirty">required</span>
            <span class="help-block" ng-show="passwordForm.newPasswordConfirm.$error.matches && passwordForm.$dirty">passwords do not match</span>
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="passwordForm.$invalid && passwordForm.$dirty" ng-click="change()">change</button>                
    </form>        
</div>